<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link id="favicon_32" rel="icon" href="img/icon/Temp48.png" sizes="48x48">
    <link id="favicon_192" rel="icon" href="img/icon/Temp96.png" sizes="96x96">
    <title><%= serverName %> – Monitoring</title>
    <link href="css/fonts.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link href="lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="lib/datetimepicker.css" rel="stylesheet">
    <script type="text/javascript" src="lib/jQuery.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript">
      const server = '<%= host %>';
      let pings = {};
      let allPings = <%-JSON.stringify(pings)%>;
      let boots = {};
      let allBoots = <%-JSON.stringify(boots)%>;
      let systems = <%-JSON.stringify(systems)%>;
      let currentSystem = systems[0];
      const secureWS = <%=secureWS%>;
      const version = '<%=version%>';

      const rP = Object.keys(allPings).reverse();
      rP.forEach(key => {
        pings[new Date(key)] = allPings[key];
      });
      const rBo = Object.keys(allBoots).reverse();
      rBo.forEach(key => {
        boots[new Date(key)] = 1;
      });

    </script>
    <script type="text/javascript" src="js/commonWS.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="lib/chart.js"></script>
    <script type="text/javascript" src="lib/moment.js"></script>
    <script type="text/javascript" src="lib/chart-adapter-moment.js"></script>
    <script type="text/javascript" src="lib/datetimepicker.js"></script>
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success px-2">
      <a class="navbar-brand" href="#">
        <img src="img/icon/temp.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Argos
      </a>
      <select id="systemSelect" class="form-select w-auto" autocomplete="off">
        <option selected disabled hidden value="Select System">Select System</option>
        <% systems.forEach((system)=>{ %>
          <option value="<%=system%>"><%=system%></option>
        <% }) %>
      </select>
    </nav>
    <main id="t_indicatior">
      <section class="panel text-light bg-dark">
        <h1>Internet Connection</h1>
        <button type="button" class="expandPanel fa fa-expand-alt"></button>
        <span class="text-muted">Last updated <span id="lastPing">never</span></span>
        <canvas id="pingChart"></canvas>
        <div class="buttonBox">
          <div>
            Select from
            <button id="pingFromPick" class="btn btn-secondary btn-sm"></button>
            <input type="hidden" id="pingFrom" value="">
            until
            <button id="pingToPick" class="btn btn-secondary btn-sm"></button>
            <input type="hidden" id="pingTo" value="">
          </div>
          <div class="pt-1">
              Or the last
              <button class="pingBut btn btn-secondary btn-sm" data-time="2419200">Month</button>
              <button class="pingBut btn btn-secondary btn-sm" data-time="604800">Week</button>
              <button class="pingBut btn btn-secondary btn-sm" data-time="86400">Day</button>
              <button class="pingBut btn btn-secondary btn-sm" data-time="43200">12 Hours</button>
              <button class="pingBut btn btn-secondary btn-sm" data-time="21600">6 Hours</button>
              <button class="pingBut btn btn-secondary btn-sm" data-time="7200">2 Hours</button>
          </div>
        </div>
      </section>
      <section class="panel text-light bg-dark">
        <h1>IQ Frame Temperatures</h1>
        <button type="button" class="expandPanel fa fa-expand-alt"></button>
        <span class="text-muted">Last updated <span id="lastTemp">never</span></span>
        <canvas id="tempChart"></canvas>
        <div class="buttonBox">
          <div>
            Select from
            <button id="tempFromPick" class="btn btn-secondary btn-sm"></button>
            <input type="hidden" id="tempFrom" value="">
            until
            <button id="tempToPick" class="btn btn-secondary btn-sm"></button>
            <input type="hidden" id="tempTo" value="">
          </div>
          <div class="pt-1">
              Or the last
              <button class="tempBut btn btn-secondary btn-sm" data-time="2419200">Month</button>
              <button class="tempBut btn btn-secondary btn-sm" data-time="604800">Week</button>
              <button class="tempBut btn btn-secondary btn-sm" data-time="86400">Day</button>
              <button class="tempBut btn btn-secondary btn-sm" data-time="43200">12 Hours</button>
              <button class="tempBut btn btn-secondary btn-sm" data-time="21600">6 Hours</button>
              <button class="tempBut btn btn-secondary btn-sm" data-time="7200">2 Hours</button>
          </div>
        </div>
      </section>
      <section class="panel text-light bg-dark">
        <h1>Argos Starts</h1>
        <button type="button" class="expandPanel fa fa-expand-alt"></button>
        <span class="text-muted">Last updated <span id="lastBoot">never</span></span>
        <canvas id="bootChart"></canvas>
        <div class="buttonBox">
          <div>
            Select from
            <button id="bootFromPick" class="btn btn-secondary btn-sm"></button>
            <input type="hidden" id="bootFrom" value="">
            until
            <button id="bootToPick" class="btn btn-secondary btn-sm"></button>
            <input type="hidden" id="bootTo" value="">
          </div>
          <div class="pt-1">
              Or the last
              <button class="bootBut btn btn-secondary btn-sm" data-time="2419200">Month</button>
              <button class="bootBut btn btn-secondary btn-sm" data-time="604800">Week</button>
              <button class="bootBut btn btn-secondary btn-sm" data-time="86400">Day</button>
              <button class="bootBut btn btn-secondary btn-sm" data-time="43200">12 Hours</button>
              <button class="bootBut btn btn-secondary btn-sm" data-time="21600">6 Hours</button>
              <button class="bootBut btn btn-secondary btn-sm" data-time="7200">2 Hours</button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
